.items {
  max-width: 60rem;
  width: 100%;
  margin: 2rem auto;
  animation: items-appear 1s ease-out forwards;
}

.ItemsLoading {
  text-align: center;
  color: white;
}

.ItemsError {
  text-align: center;
  color: red;
}

.items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

@keyframes items-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
